@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=SUSE:wght@100..800&display=swap');

*{
    font-family: 'SUSE';
}

::selection{
    background: var(--pr);
    color: var(--bg);
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--bg);
}

::-webkit-scrollbar-thumb{
    background: var(--tr);
}

:root{
    --rlpad: 20vw;
    --brad: 1.75rem;
    --fg: #000;
    --bg: #efefef;
    --pr: #27801a;
    --sc: #d4040d;
    --tr: #053509;
    --ac: #80ea60;
}

body, html{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--bg);
}

.nav{
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--rlpad);
    box-sizing: border-box;
    background-color: var(--bg);
    z-index: 1000;
}

.nav .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.nav .links a, .nav .links .cash-count{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--fg);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--fg);
}

button{
    background-color: var(--pr);
    color: var(--bg);
    border-radius: var(--brad);
    outline: none;
    border: none;
    font-weight: 700;
    transition: 500ms;
    cursor: pointer;
    padding: 1vh 2vh;
}

button:disabled{
    filter: saturate(0);
    cursor: not-allowed;
}

button:disabled:hover{
    filter: saturate(0) brightness(1);
    scale: 1;
}

.nav .links button{
    background-color: var(--pr);
    color: var(--bg);
}

.nav .links button:hover, button:hover{
    filter: brightness(1.2);
    scale: 1.01;
}

.nav .logo{
    font-size: 2.5rem;
    font-family: 'Pacifico';
    user-select: none;
    transition: 1500ms;
}

.nav .logo:hover{
    color: var(--pr);
}

.content{
    width: 100vw;
    box-sizing: border-box;
    padding: 10vh var(--rlpad);
}

.footer{
    width: 100vw;
    box-sizing: border-box;
    /* margin-top: 5vh; */
    display: flex;
    justify-content: space-between;
    padding: 3vh var(--rlpad);
    align-items: center;
    background: var(--pr);
}

.footer *{
    color: var(--bg);
    font-weight: 700;
    font-size: 1.05rem;
    text-decoration: none;
}

.cash-count{
    font-weight: 800 !important;
}

/* .steak{
    font-family: 'Pacifico';
} */

/* startpage */

.banner{
    aspect-ratio: 3;
    width: 100%;
    border-radius: var(--brad);
    background-color: var(--tr);
    padding: 2vh;
    box-sizing: border-box;
    position: relative;
}

.banner *{
    color: var(--bg);
}

.banner .title{
    font-size: 3rem;
    font-weight: 800;
}

.banner .subtitle{
    font-size: 1.5rem;
    font-weight: 600;
}

.banner .textbox button{
    margin-top: 1vh;
}

.banner .textbox{
    position: absolute;
    box-sizing: border-box;
    padding: calc(0.1 * var(--rlpad));
    inset: auto auto 0 0;
}

.games-chart{
    /* margin-top: 5vh; */
    width: 100%;
    display: grid;
    gap: 1vh;
    grid-template-columns: repeat(2, 1fr);
}

.games-chart .game{
    width: auto;
    aspect-ratio: 1.5;
    background-color: #aaa;
    border-radius: var(--brad);
    position: relative;
}

.games-chart .game .textbox{
    position: absolute;
    padding: calc(0.1 * var(--rlpad));
    inset: auto auto 0 0;
}

.games-chart .game .textbox .name{
    font-size: 2.5rem;
    font-weight: 800;
}

.games-chart .game .textbox .description{
    font-size: 1.25rem;
    font-weight: 600;
}

.games-chart .game .play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border-radius: var(--brad);
    background-color: var(--pr);
    aspect-ratio: 1;
    width: 2.75rem;
    position: absolute;
    transition: 500ms;
    inset: auto calc(0.1 * var(--rlpad)) calc(0.1 * var(--rlpad)) auto;
    cursor: pointer;
}

.games-chart .game .play-button span{
    font-size: 2rem;
    rotate: 180deg;
    color: var(--bg);
}

.games-chart .game .play-button:hover{
    filter: brightness(1.15);
    scale: 1.1;
}

.section-title{
    font-size: 3rem;
    line-height: 1;
    margin: 5vh 0;
    margin-bottom: 3vh;
    font-weight: 800;
}

/* plinko */

.game-screen{
    overflow: hidden;
    width: 100%;
    height: 80vh;
    border-radius: var(--brad);
    border: 2px solid var(--pr);
    margin-top: 3vh;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.game-screen .controls{
    height: 100%;
    width: 30%;
    border-right: 2px solid var(--pr);
    box-sizing: border-box;
    padding: calc(0.1 * var(--rlpad));
}

.game-screen .controls h1{
    line-height: 1;
    margin: 0;
    margin-bottom: 2vh;
    font-size: 3rem;
}

.game-screen .controls form{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.game-screen .controls form input, .game-screen .controls form select{
    outline: none;
    border: 2px solid var(--pr);
    border-radius: var(--brad);
    background: transparent;
    padding: 1vh;
    margin-bottom: 1vh;
    width: 75%;
    font-weight: 700;
    font-size: 1.1rem;
    box-sizing: border-box;
}

.game-screen .controls form button{
    background: var(--pr);
    width: 75%;
    aspect-ratio: 5;
    font-size: 1.2rem;
}

.game-screen .canvas{
    width: 70%;
    height: 100%;
    position: relative;
}

.game-screen .canvas .gradient{
    position: absolute;
    inset: auto auto 0 0;
    width: 100%;
    aspect-ratio: 40;
    background: linear-gradient(to right, var(--pr), yellow, orange, red, orange, yellow, var(--pr));
    z-index: 2;
}

.game-screen .canvas .ball{
    position: absolute;
    inset: 0vh 50% auto auto;
    aspect-ratio: 1;
    width: 2vh;
    border-radius: 50%;
    background-color: var(--fg);
    z-index: 10;
}

.change-popup{
    position: absolute;
    inset: 50% auto auto 50%;
    font-size: 10rem;
    transform: translate(-50%, -50%);
    font-weight: 900;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Fully transparent */
    transition: opacity 0.5s ease-in-out, visibility 0s 2s; /* Visibility delay matches fade-out */
}

.popup-plinko-animated{
    animation-name: none; /* Remove existing animation, now we're using opacity for fade */
    opacity: 1; /* Fully visible */
    visibility: visible; /* Ensure it's visible */
    transition: opacity 0.5s ease-in-out; /* Fade-in */
}

.popup-gain{
    color: var(--pr);
}

.popup-loss{
    color: var(--sc);
}

@keyframes changePopUpPlinko{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    40%{
        visibility: visible;
        opacity: 1;
    }
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

/* fwheel */

.fwheel-wheel-container{
    width: 40%;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fwheel-wheel-container .wheel-pattern{
    width: 100%;
    aspect-ratio: 1;
    background: conic-gradient(
    black 0% 5%, var(--sc) 5% 10%, 
    black 10% 15%, var(--sc) 15% 20%, 
    black 20% 25%, var(--sc) 25% 30%, 
    black 30% 35%, var(--sc) 35% 40%, 
    black 40% 45%, var(--sc) 45% 50%, 
    black 50% 55%, var(--sc) 55% 60%, 
    black 60% 65%, var(--sc) 65% 70%, 
    black 70% 75%, var(--sc) 75% 80%, 
    black 80% 85%, var(--sc) 85% 90%, 
    black 90% 95%, var(--sc) 95% 100%
    );
    transition: 5000ms;
    /* rotate: 9deg; */
}

.fwheel-wheel-container .wheel-center{
    width: 75%;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--bg);
    position: absolute;
}

.spin-fwheel-btn{
    position: absolute;
    scale: 1.5;
    background: var(--sc);
}

.spin-fwheel-btn:hover{
    scale: 1.5;
}

.fwheel-pin{
    position: absolute;
    inset: 10% auto auto 50%;
    transform: translateX(-50%);
    aspect-ratio: 0.5;
    width: 5%;
    background-color: #cfb367;
    border-radius: 50% 50% 10% 10%;
}

.fwheel-winner{
    position: absolute;
    inset: auto auto 25% 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}

@media (width < 1500px){
    :root{
        --rlpad: 5vw;
    }

    .banner .textbox, .games-chart .game .textbox{
        padding: 3vh !important;
        box-sizing: border-box;
        max-width: 100%;
    }

    .games-chart .game .play-button{
        inset: 3vh 3vh auto auto;
    }
}

@media (width < 775px){
    :root{
        --rlpad: 5vw;
    }

    .nav{
        justify-content: center;
    }

    .nav .links{
        display: none;
    }

    .banner, .games-chart .game{
        aspect-ratio: 1;
        overflow: hidden;
    }
    
    .banner .textbox, .games-chart .game .textbox{
        padding: 3vh !important;
        box-sizing: border-box;
        max-width: 100%;
    }
    
    .banner .textbox .title{
        font-size: 1.5rem;
    }

    .banner .textbox .subtitle{
        font-size: 1rem;
    }

    .games-chart{
        grid-template-columns: repeat(1, 1fr);
    }

    .games-chart .game{
        aspect-ratio: 2;
    }
}